* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* //removes basic styling of browser */

body {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );

  color: white;
  font-family: "Open Sans", "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  background: white;
}

form button {
  color: #d3856f;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button :hover {
  color: #ff6f47;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  color: rgb(49, 49, 49);
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}

.trash-btn,
.completed-btn {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.completed-btn {
  background: rgb(78, 228, 78);
}

.todo-item {
  padding: 0rem 5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.fall {
  transform: translateX(8rem);
  opacity: 0;
}
